@import "scss/utility";

$submission-black: #cfd8dc !default;
$submission-black-gradient-to: #ffffff !default;
$submission-blue: #bbdefb !default;
$submission-blue-gradient-to: #eeffff !default;
$submission-green: #c8e6c9 !default;
$submission-green-gradient-to: #fbfffc !default;
$submission-red: #ffcdd2 !default;
$submission-red-gradient-to: #ffffff !default;
$submission-yellow: #fff9c4 !default;
$submission-yellow-gradient-to: #fffff7 !default;
$submission-grey: #f5f5f5 !default;
$submission-grey-gradient-to: #ffffff !default;

$submission-OK0: #dcedc8 !default;
$submission-OK0-gradient-to: #fffffb !default;
$submission-OK25: #c5e1a5 !default;
$submission-OK25-gradient-to: #f8ffd7 !default;
$submission-OK50: #aed581 !default;
$submission-OK50-gradient-to: #e1ffb1 !default;
$submission-OK75: #9ccc65 !default;
$submission-OK75-gradient-to: #cfff95 !default;
$submission-OK100: #8bc34a !default;
$submission-OK100-gradient-to: #bef67a !default;

$submission-margin-min-width: 20px !default;

@mixin submission($color, $color-gradient-to) {
  background: $color;

  &.submission__margin {
    @include gradient-horizontal($color, $color-gradient-to);
  }

  &.submission__status {
    background: lighten($color, 5%);
  }
}

.submission {
  &__margin {
    min-width: $submission-margin-min-width;
    padding: 0;
  }

  &--WA,
  &--RE,
  &--RV,
  &--INI_ERR {
    @include submission($submission-red, $submission-red-gradient-to);
  }

  &--CE,
  &--MLE,
  &--TLE,
  &--OLE {
    @include submission($submission-yellow, $submission-yellow-gradient-to);
  }

  &--SE {
    @include submission($submission-blue, $submission-blue-gradient-to);
  }

  &--NJ {
    @include submission($submission-black, $submission-black-gradient-to);
  }
  &--IGN {
    @include submission($submission-grey, $submission-grey-gradient-to);
  }

  &--OK,
  &--INI_OK {
    @include submission($submission-green, $submission-green-gradient-to);
  }

  &--OK0 {
    @include submission($submission-OK0, $submission-OK0-gradient-to);
  }

  &--OK25 {
    @include submission($submission-OK25, $submission-OK25-gradient-to);
  }

  &--OK50 {
    @include submission($submission-OK50, $submission-OK50-gradient-to);
  }

  &--OK75 {
    @include submission($submission-OK75, $submission-OK75-gradient-to);
  }

  &--OK100 {
    @include submission($submission-OK100, $submission-OK100-gradient-to);
  }
}
