{% extends "simple-centered.html" %}
{% load i18n %}

{% block title %}
    {% if not user.is_authenticated %}
    {% trans "Registration" %}
    {% else %}
    {% trans "Edit your profile" %}
    {% endif %}
{% endblock %}

{% block scripts %}
    {{ block.super }}
     <script src="https://www.google.com/recaptcha/api.js"></script>
     <script>
         function onSubmit(token) {
             document.getElementById("register-form").submit();
         }
     </script>
{% endblock scripts %}

{% block styles %}
     {{ block.super }}
    <style>
        .grecaptcha-badge {
            z-index: 999999;
            display: block;
        }
    </style>
{% endblock styles %}

{% block content %}
    {% if not user.is_authenticated %}
        {% block banner %}
        {% endblock %}
        <h1>{% trans "Registration" %}</h1>
    {% else %}
        <h1>{% trans "Edit your profile" %}</h1>
	<p>W celu zmiany poniższych danych prosimy o kontakt z administratorem SIO2 pod adresem <code>sio2@staszic.waw.pl</code></p>
    {% endif %}

    {% if not form.instance %}
        <p>{% trans "Please fill the form below to register." %}</p>
    {% endif %}

    <form method="post" id="register-form">
        {% csrf_token %}
        {% include "ingredients/form.html" %}
        <div class="form-group">
            {% if not user.is_authenticated %}
                <button class="btn btn-primary g-recaptcha"
                    data-sitekey="{{grecaptcha_sitekey}}"
                    data-callback='onSubmit'
                    data-action='register'>{% trans "Submit" %}</button>
            {% else %}
                <button type="submit" class="btn btn-primary">{% trans "Submit" %}</button>
            {% endif %}
        </div>
    </form>
{% endblock %}
